body {
  background: #b7b7b7;
}

.logo {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("./assets/images/delete.png");
  background-repeat: no-repeat;
}

%btns {
  background: #d075a3c7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%btnsImg {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.notes {
  &__header {
    display: grid;
    background: #707575;
    grid-template-columns:  repeat(6, 1fr);

    &__btns {
      @extend %btns;

      img {
        @extend %btnsImg;
      }
    }

    div {
      color: #fff;
      border: dashed 2px black;
      margin: 5px;
      padding: 5px;
    }
  }

  &__wrap {
    background: #9da4a4;
  }

  &__item {
    display: grid;
    //background: #9da4a4;
    grid-template-columns:  repeat(6, 1fr);

    div {
      color: #000;
      border: dashed 2px black;
      margin: 5px;
      padding: 5px;
    }


    &_name {
      &__ico {
      }
    }

    &__date-created {
    }

    &__category {
    }

    &__content {
    }

    &__dates {
    }

    &__btn {
      @extend %btns;

      img {
        @extend %btnsImg;
      }

      &__archive {

      }

      &__delete {
      }
    }


  }
}