body {
  background: #b7b7b7;
  //font-family: cursive;
  font-family: monospace;
}

.container {
  max-width: 900px;
  margin: auto;
}

.show {
  display: block !important;
}

.button-close-edit {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 10px 5px 10px;
  box-shadow: 1px 1px 0px 0px #000000;
}

$gridTemp1: repeat(5, 1fr) 130px;
$gridTemp2: repeat(3, 1fr);
$shadow1: 0px 0px 4px 0px #000000;

.button {
  margin-left: 20px;
  background: #6f6f6f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: lightcoral !important;
}

input {
  border-radius: 5px;
}

%btns {
  //background: #d075a3c7;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}

%btnsImg {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 5px;
}

.notes {
  margin: 40px 0px;

  &__header {
    -webkit-text-stroke: 1.5px #000000;
    display: grid;
    background: #6f6f6f;
    grid-template-columns:  $gridTemp1;
    border-radius: 5px;
    box-shadow: $shadow1;
    border: 2px solid #535353;
    margin-bottom: 30px;

    div {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #fefefe;
      margin: 5px;
      padding: 5px;
      font-size: 24px;
      font-weight: bold;

    }

    &__btns {
      @extend %btns;
      //filter: invert(1);

      img {
        @extend %btnsImg;
      }
    }
  }

  &__sum {
    margin-top: 30px;
    -webkit-text-stroke: 1.5px #000000;
    display: grid;
    background: #6f6f6f;
    grid-template-columns:  $gridTemp2;
    border-radius: 5px;
    box-shadow: $shadow1;
    border: 2px solid #535353;
    margin-bottom: 20px;

    div {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #fefefe;
      margin: 5px;
      padding: 5px;
      font-size: 24px;
      font-weight: bold;
    }

    &__item {
      display: grid;
      background: #fff;
      grid-template-columns:  $gridTemp1;
      margin: 10px 0px;
      border-radius: 5px;
    }

  }

  &__sum-wrap-item {

    display: grid;
    //background: #9da4a4;
    grid-template-columns:  $gridTemp2;
    margin: 10px 0px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: $shadow1;

    div {
      color: #000;
      //border: dashed 2px black;
      margin: 5px;
      padding: 5px;
      border-right: 2px dashed #00000026;
    }

    div:last-child {
      border-right: none;
    }
  }


  &__item {
    display: grid;
    //background: #9da4a4;
    grid-template-columns:  $gridTemp1;
    margin: 10px 0px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: $shadow1;

    div {
      color: #000;
      //border: dashed 2px black;
      margin: 5px;
      padding: 5px;
      border-right: 2px dashed #00000026;
    }

    div:last-child {
      border-right: none;
    }


    &_name {
      &__ico {
      }
    }

    &__date-created {
    }

    &__category {
    }

    &__content {
    }

    &__dates {
    }

    &__btn {
      @extend %btns;

      img {
        @extend %btnsImg;
        cursor: pointer;
        transition: 0.2s;
      }

      img:hover {
        filter: drop-shadow(1px 3px 2px #787878);
        transition: 0.2s;
      }

      &__archive {



      }

      &__delete {
      }
    }

  }

  &__button__wrap {
    display: flex;
    justify-content: flex-end;
  }

  &__button__create {

  }

  %form {
    display: none;
    //border: 2px solid;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    background: darkgray;
    box-shadow: $shadow1;
  }

  &__add__form {
    display: none;
    @extend %form

  }

  &__archive {
    display: none;
    background: lightcoral !important;
    @extend %form
  }

  &__edit__form {
    display: none;
    @extend %form

  }
}