body {
  background: #b7b7b7;
  font-family: cursive;
}

.container{
  max-width: 900px;
  margin: auto;
}

.show{
  display: block !important;
}

$gridTemp1 : repeat(5, 1fr) 150px;
$shadow1: 0px 0px 10px 1px #303030;

.button{
  margin-left: 20px;
  background: #6f6f6f;
  color: #fff;
  padding:5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input{
  border-radius: 5px;
}

%btns {
  //background: #d075a3c7;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}

%btnsImg {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.notes {
  margin: 40px 0px;
  &__header {
    display: grid;
    background: #6f6f6f;
    grid-template-columns:  $gridTemp1;
    border-radius: 5px;
    box-shadow: $shadow1;
    border: 2px solid #535353;
    margin-bottom: 30px;

    div{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: #fefefe;
      margin: 5px;
      padding: 5px;
      font-size: 24px;
      font-weight: bold;

    }

    &__btns {
      @extend %btns;
      //filter: invert(1);

      img {
        @extend %btnsImg;
      }
    }
  }

  &__wrap {
    //background: #9da4a4;
  }

  &__item {
    display: grid;
    //background: #9da4a4;
    grid-template-columns:  $gridTemp1;
    margin: 10px 0px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: $shadow1;

    div {
      color: #000;
      //border: dashed 2px black;
      margin: 5px;
      padding: 5px;
    }


    &_name {
      &__ico {
      }
    }

    &__date-created {
    }

    &__category {
    }

    &__content {
    }

    &__dates {
    }

    &__btn {
      @extend %btns;

      img {
        @extend %btnsImg;
        cursor: pointer;
      }

      &__archive {

      }

      &__delete {
      }
    }

  }

  &__button__wrap{
    display: flex;
    justify-content: flex-end;
  }
  &__button__create{

  }

  &__add__form{
   display: none;
  }

  &__archive{
    display: none;
  }
  &__edit__form{
    display: none;
  }
}