body {
  background: #b7b7b7;
}

.logo {
  width: 400px;
  height: 400px;
  background-size: cover;
  //background-image: url("http://localhost:3000/49cac63ced275352be03b779816c0469.png");
  background-image: url("./assets/images/delete.png");
}

.notes {
  &__header {
    display: grid;
    background: #707575;
    grid-template-columns:  repeat(6, 1fr);

    div {
      color: #fff;
      border: dashed 2px black;
      margin: 5px;
      padding: 5px;
    }
  }

  &__wrap {
    background: #9da4a4;
  }

  &__item {
    display: grid;
    //background: #9da4a4;
    grid-template-columns:  repeat(6, 1fr);

    div {
      color: #000;
      border: dashed 2px black;
      margin: 5px;
      padding: 5px;
    }

    &__ico {
    }

    &_name {
    }

    &__date-created {
    }

    &__category {
    }

    &__content {
    }

    &__dates {
    }

    &__archive {
    }

    &__delete {
    }
  }
}